.slide-out-menu {
    display: flex;
    flex-direction: column;
    width:43%;
    text-align: center;
    font-size: 20px;
    height: 100vh;
    background: #fff;
    position: absolute;
    right:0;
    z-index: 3;
    transition-duration: 300ms ;
}

.slide-out-menu ul {
  margin-top: 10vh;
}

.close {
    margin-top: 25px;
    align-self: center;
}

.hide {
    display: none;
    transform: translateX(100%);
    opacity: 0;
}

.curtain {
    position: absolute;
    width:100%;
    height:100vh;
    background: rgba(255,255,255,0.6);
    z-index: 2;
}

.hide-curatin {
    display: none;
}
.HAM {
    width: 50px;
    height: 50px;
    position: absolute;
    top:25px;
    right:25px;
    z-index: 2;
    cursor: pointer;
}

.HAM img {
    width:100%;
    cursor: pointer;
}

.nav-links {
    display: none;
    color: #fff;
    font-size: 20px;
    justify-content: space-around;
    margin-top: 25px;
}

.nav-links li {
    cursor: pointer;
}

.hero {
    height: 100vh;
    width: 100%;
    background: url(https://s3.amazonaws.com/www-assets.invisionapp.com/marketplace/assets/mp-hero-06.jpg) left -402px top 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    z-index: 1;
    padding-bottom: 30px;
}

.hero-title {
    align-items: center;
    margin: auto;
}
.hero-title svg {
    display: block;
    margin: 0 auto;
    height: 85px;
    width: 70%;
}
.hero-content {
    /*This property is the shorthand for the flex-grow, flex-shrink and flex-basis properties. Among other values it also can be set to auto (1 1 auto) and none (0 0 auto).*/
    /*Default value: 0 1 auto*/
    flex: 2 0 0;
    display: flex;
}
.hero-title path {
    fill: #fff;
}

.hero-invision {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.hero-invision p {
    font: 500 .625em brandon-grotesque,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: .25em;
}

.hero-invision a {
    color: #fff;
    padding-bottom: 1px;
    box-shadow: 0 1px 0 0 #fff;
}

.product-designed-by {
    display: none;
    background: #fff;
    width:100%;
    height: 50px;
}

.product-designed-by img {
    width: 25px;
}
.product-img-gallery-container {
    width: 100%;
}

.product-img-gallery-container img {
    width: 100%;
}


/*MEDIA QUERIES GO HERE EVERYTHING ABOVE THIS IS CONSIDERED MOBILE FIRST STYLES*/

